<div class="clearfix">
  <h1 class="inline">Create New User Here </h1>
  <%= fa_icon("arrow-down 2x", :class => "inline") %>
</div>
<br>
<%= render partial: "form",
 locals: {form_method: "post", form_action: "/users"} %>