
<div class="clearfix">
  <h1 class="inline">User's Data</h1>
</div>
<br>
<table class='table table-inverse'>
  <tbody>
  <tr>
    <%= render partial: "user_row", locals: {user: @user} %>
  </tr>
</tbody>
</table>