
<div class="clearfix">
  <h1 class="inline">Person's Data</h1>
</div>
<br>
<table class='table table-inverse'>
  <tbody>
  <tr>
    <%= render partial: "person_row", locals: {person: @person} %>
  </tr>
</tbody>
</table>