<li class='active'><%= link_to 'Home', class: '' %></li>
<li class=''><%= link_to 'Пользователи', users_path, class: '' %></li>
<li class=''><%= link_to 'MenuItem2', class: '' %></li>
<li class=''><%= link_to 'MenuItem3', class: '' %></li>